.wrapper {
  width: 100%;
}

.sectionFirst {
  background-color: #eae3db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-image: url('../../assets/intro-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  img {
    width: 80%;
    height: auto;
  }
}
.sectionSecond {
  padding: 1.5rem 1rem;
  background-color: #eae3db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 5rem;
  width: 100%;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    @media screen and (max-width: 650px) {
      width: 82%;
    }
    span {
      width: 400px;
      font-size: 1.5rem;
      text-align: center;
      color: #2b2b2b;
      margin-bottom: 1rem;
      @media screen and (max-width: 650px) {
        width: 100%;
      }
    }
    span:nth-of-type(1){
      font-size: 2rem;
    }
    p {
      width: 600px;
      font-size: 1.5rem;
      text-align: center;
      color: #2b2b2b;
      margin-bottom: 1rem;
      @media screen and (max-width: 650px) {
        width: 100%;
      }
    }
    img {
      width: 50%;
      height: auto;
      @media screen and (max-width: 650px) {
        width: 100%;
      }
    }
  }
}
