.attendanceForm {
  width: 100%;
  padding: 3rem 2.5rem;
  background-color: #eae3db;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
    min-height: 70vh;
  background-image: url('../../assets/second-img-bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  h2 {
    color: #2b2b2b;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
    font-style: italic;
  }
  h3 {
    color: #2b2b2b;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    font-style: italic;
  }
  form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    h5 {
      font-size: 1.5rem;
      font-weight: normal;
    }
    input {
      font-size: 1.6rem;
    }
  }

  button {
    font-size: 1.6rem;
    align-self: center;
    opacity: 1;
  }

  select {
    font-size: 1.5rem;
    option {
      font-size: 1.5rem;
    }
  }
}

.formElement {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 0.5rem;
  label {
    font-size: 1.5rem;
    width: fit-content;
  }
}

.formElementSelect {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 0.5rem;
  align-items: center;
  label {
    font-size: 1.5rem;
    width: fit-content;
  }
  select {
    margin-left: 1rem;
    position: relative;
    @media screen and (max-width: 650px) {
      width: 70px;
      height: 30px;
    }
  }
}

.flexCol {
  flex-direction: column;
}

.bulletOption {
  margin-left: 0.5rem;
}

.submit {
  margin-top: 1rem;
}

.delimeter {
  border-bottom: 2px solid rgb(206, 205, 205);
}
.answer {
  font-size: 1.5rem;
  text-align: center;
  width: 75%;
}
.errorMessage {
  color: red;
}
